@import './main.scss';

nav {
	@include flex($justify: space-between);

	padding: 0 $margin-xs;

	border-bottom: solid 2px $dark;

	.logo {
		@include flex($justify: start, $align: center, $gap: $margin-xs);
		@include setFont(content, medium);

		outline: none;
		text-decoration: none;

		img {
			width: 60px;
		}
	}

	ul {
		@include flex($justify: end, $align: end, $gap: $margin-s);
		@include setFont(content, small);

		list-style-type: none;

		a {
			outline: none;
			text-decoration: none;

			&:hover {
				text-decoration: underline 1px $dark;
			}
		}
	}
}
